.jumbotron{
	background-color: rgba(0, 0, 0, 0.603);
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
    margin-bottom: 20px;
}

body {
	background-color: rgba(0, 0, 0);
}

.container {
	text-align: center;
}

#title {
	color: white;
	font-size: 20px;
}

.container2 {
	text-align: center;
	width: 100%;
}

#addFoodItem {
	color: white;
	background-color: rgb(165, 102, 165);
	border: 15px solid rgb(252, 238, 255);
}

#form {
	width: 100%;
	position: center;
}
#foodItemInput {
	border: 15px solid rgb(252, 238, 255);
	width: 75%;
}

#shoppingList {
	color: white;
	width: 70%;
	position: center;
}

#recipe {
	color: white;
	text-align: center;
	width: 100%;
}

#recipes {
	margin-left: 18%;
	font-size: 16px;
	color: rgb(255, 230, 0);
	width: 100%;
}

#ingredients {
	position: center;
	width: 100%;
	margin-left: 30%;
	border: 3px dotted white;
	list-style-type: none;
}

.navbar {
    background-color: black;
	color: white;
}

h3 {
    font-size: 50px;
}

.navbar-brand {
    font-size: 40px;
	margin-left: 10%;
	text-decoration: none;
}

.form-inline {
    margin-right: 10%;
}

.row {
    max-width: 1450px;
    margin: 0 auto;
}

.col-xs-4 {
    padding: 15px;
}
.btnGateway{
	font-size: 30px;
	width: 100%;
}

#carouselExampleIndicators{
	width: 100%;
}
@media only screen and (max-width: 600px) {
    .btnGateway {
    	font-size: 20px;
    }
}